__pycache__/
.DS_Store

notebooks/
data/
local_data/

journal/latex-notes/*
!journal/latex-notes/main.pdf
!journal/latex-notes/main.tex
!journal/latex-notes/refs.bib

data_party_tricks.md
skills-lock.json